<div>

<h2>About BLDEACET</h2>
<p>BLDE Association’s College of Engineering and Technology (BLDEACET), Vijayapura was established in the year 1980 and
    named after the founder of BLDE Association Dr. P.G. Halakatti. The motive behind establishing BLDEACET was to
    provide quality engineering education to the students of North Karnataka in particular and neighbouring states at
    large at affordable fees. College started functioning with three basic branches viz., Civil, Mechanical and
    Electrical with an intake of 40 each by getting approval from Karnataka University Dharwad.

    At present BLDEACET is offering eight undergraduate programs, eight post graduate programs (including MBA and MCA).
    The competent, qualified and experienced teaching staffs deliver the contents of the curriculum by using modern
    teaching methods & tools, excellent laboratory facilities.

    As a seal of quality, four undergraduate programs (Civil, Mechanical, Computer Science and Electrical) of the
    college are accredited for a period of four years (2005, 2015, 2018, and 2022) by the National Board of
    Accreditation (NBA) New Delhi. The college also got accreditation status from National Assessment and Accreditation
    Council (NAAC) for a period of five years from 2018.

    College offers excellent teaching-learning atmosphere to the students. Library and information center provides best
    of the best learning resources. Training and placement cell take students through career guidance programs,
    placement related training programs and finally place them in best organizations.

    Students are provided guidance, help through identified student mentors. Each faculty will take care of a group of
    fifteen students. Faculty member (mentor) will help students in overcoming their personal problems, academic
    problems and any other issues.

    The academic & administrative infrastructure and other facilities such as hostels, canteens, sports facilities,
    gymnasium, student activity center are housed in a sprawling campus of 14.9 acres. The lush green campus and other
    activities (curricular and extra-curricular) provide students a conducive environment to achieve their goals.</p>
    <h3>Aims and Objectives of the Workshop :</h3>
    <p>The aim of this workshop is to give the
        participants a broad overview of research
        activities with special emphasis on reference
        management tools and their usefulness in
        organizing and managing research literature.
        Use of reference management tools Such as
        Mendeley, Zotero, will be helpful in creating &
        organizing bibliographies, construct
        references while writing research,
        collaborating and discovering new research.
        The advanced features of these tools help in
        automatic insertion of error free standard references and bibliographies through plugins, thereby saving the time, energy & efforts
        of research scholars.</p>  
        <h3>Research and Development Cell :</h3>
        <p>While doing wonderful innovations in
            Teaching- Learning, the importance of
            Research & Development has not gone
            unnoticed. The institute has Research and
            Development cell and well established
            mechanism through which all R&D activities
            are promoted, encouraged and appraised
            .The R&D cell implements activities such as
            basic research, establishing centers of
            excellence, cultivating research skills in
            faculty by deputing for Ph.D, Conferences,
            workshops, Short term Training programs, &promoting faculty to submit research
            proposals to different funding agencies.</p>
            <h3>Target of Participants : 60 Nos:</h3>
    <p>Academicians, faculty members, research
        evaluators, current and prospective research
        scholars and LIS professionals. The number
        of seats is limited and the selection will be
        based on 'first come first served' basis.
        </p> 
        
        </div>   
        <footer>@Copyright</footer>          
